<!DOCTYPE html>
<html>
  <head>
    <title>Charamite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body class="min-h-screen overflow-hidden pt-20 pb-12">
    
    <header class="bg-gradient-to-r from-cyan-300 to-purple-300 w-full fixed top-0 left-0 right-0 z-50">
      <%= render "shared/header" %>
    </header>

    <main class="h-[calc(100vh-128px)] bg-white flex items-center justify-center px-4">
      <div class="w-full">
        <%= yield %>
      </div>
    </main>

    <footer class="bg-gradient-to-r from-cyan-300 to-purple-300 w-full fixed bottom-0 left-0 right-0 z-40">
      <%= render "shared/footer" %>
    </footer>

  </body>
</html>
